*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    
}
.main{
    height:100%;
    width: 100%;
    background:url(texture-2110023_1920.jpg);
   background-position: center;
    background-size: cover;
    position: absolute;
      
}
.form{
    width: 400px;
    height: 520px;
    margin: 3% auto;
  position: relative;
    background: #fff;
    padding: 5px;
   overflow: hidden;
   border-radius: 10px;
 
}





.buttonbox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    box-shadow:0 0 20px 9px #;

   
    
}
.toggle-btn{
   
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
   
   
}
#btn{
    
    
    top: 0;
    left: 0px;
    position: absolute;
    width: 98px;
    height: 100%;
    
    border-radius: 0px;
    transition: 0.5sec;
    background:#dab3ff;

}
.input-group{
    top: 110px;
    position: absolute;
    width: 280px;
    transition: 0.5s; 
   
    
    
}
.input-field{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
   outline: none;
    background: transparent;

   
}
.submit-btn{
    width: 85%;
   padding: 10px 30px;
   cursor: pointer;
    display: block;
    margin: auto;
    background: #dab3ff;
    border: 0;
    outline: none;
    border-radius: 30px;
    
}
button:hover{
    background-color:darkkhaki;
}





   
.check-box{
   margin: 20px 10px 35px 0;
   
}
span{
   
    color:grey;
    position: absolute;
    font-size: 12px;
    bottom: 68px;
}

.name{
    
    color: grey;
    font-family:sans-serif;
    font-size: 13px;
}
.radio{
    
    color: black;
    font-size: 14px;
    
}



#login{
    left: 50px;

}

#signup{
    left: 450px;

}

